.leg {
  display: flex;
  flex-direction: column;
}

.routeResultDisplay {
  overflow-y: auto;
  flex: 1;
}

.routeResultDisplay > * {
  border-top: 1px solid #e6e6e6;
}

.route {
  padding: 1rem;
  transition-duration: 0.2s;
}

.route:hover {
  background-color: #e6e6e6;
}

.routeDetails {
  margin-top: 1rem;
}

.routeTimeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.legRowLeftColumnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 4rem;
}

.legRowLeftColumn {
  margin-right: 1rem;
}

.legRow {
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

.legRowDetails {
  display: flex;
  flex-direction: row;
  flex: 5;
}

.waypointCircle {
  border-radius: 50%;
  background-color: white;
  border: 2px solid black;
  height: 8px;
  width: 100%;
  top: 7px;
  position: relative;
}

.waypointLabel {
  margin-left: 1rem;
  font-weight: bold;
}

.line {
  background-color: #1eddff;
  flex: 1;
  width: 4px;
  position: relative;
  top: 7px;
}

.legDecoration {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8px;
}

.legRowDescription {
  margin: 1rem 0 1rem 1rem;
}
