.searchInput {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.searchInput input {
  min-height: 1.5rem;
  padding: 0.2rem 0.4rem;
  border: 1px solid black;
  border-radius: 2px;
}

.locationInput {
  display: flex;
  flex-direction: column;
}

.locationInputField {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.timeSelect {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.timeSelect select {
  min-height: 2rem;
  padding: 0.2rem 0.4rem;
  border-radius: 2px;
  border: 1px solid black;
}

.timeInput {
  flex: 1;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.optionsButton {
  border: 1px solid black;
  border-radius: 2px;
  background-color: transparent;
  min-height: 1.8rem;
  margin: 0.9rem 0 0.5rem 0;
  transition-duration: 0.2s;
}

.optionsButton:hover {
  background-color: #98cbed;
}

.optionsButton:active {
  background-color: #98cbed;
}
